* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(32, 73, 5);
}
h2{
  padding: 20px 0;
  color: rgb(33, 46, 46);
  letter-spacing:1px;
}
h3{
  text-transform: capitalize;
}
p{
  padding: 15px 0;
  color: rgb(33, 46, 46);
  letter-spacing:1px;
  font-size:2rem;
  text-align: center;
}
input,label{
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  outline:none;
  padding: 6px;
}
.add-btn{
  width:50%;
  padding:10px;
  margin-left: 100px;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display:inline;
}
main {
  margin:50px auto;
  height: auto;
  width: 450px;
  background: white;
  border-radius: 5px;
  box-shadow:2px 2px 4px rgba(0,0,0,0.4)
}
.container {
  margin-left: 30px;
}
.person{
  display: flex;
  padding: 10px;
}
.info{
  padding-top: 20px;
  padding-left: 30px;
}
.info h3{
  color: rgb(87, 74, 74);
  letter-spacing: 2px;
 
}
.info h4{
  color: grey;
  letter-spacing:1px;
}
button{
  padding: 8px;
  color: white;
  background: rgb(134, 196, 34);
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.info button{
  margin-top: 8px;
  padding:4px;
  cursor: pointer;
}
